@charset "UTF-8";

#recebidas{
    background-color: white;
    height: 22vh;
}


#mensagens {
    height: 100%;
}

#solicitaçõesdemsg {
    margin-top: 20px;
    position: relative;
    top: -20px;
    text-align: center;
    padding-top: 15px;
    background-color:white ;
    
}