@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgba(128, 128, 128, 0.356);
}

main{
    width: 100vw;
    height: 100vh;
    
    
}

header{
    display: block;
    position: fixed;
    top: -1px;
    margin-bottom: 5px;
    background-color: white;
    z-index: 1;
    padding-bottom:8px; 
    width: 100%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.356);
    
    
}


header > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    padding: 10px;
    background-color: white;
    
}


.searchmenu{
    display: flex;
    position: relative;
    float: right;
    top: -48px;
    height: 10px;
    
}

.searchmenu > a {
    padding: 0px 10px;
}

.searchmenu i {
    font-size: 2.2em;
}

nav.menu2 {
   
    display: flex;
    justify-content: center;
    width: 100%;
    
   

    
    
    
    
    

}

nav.menu2 > a {
    padding:0px 35px;
    text-align: center;
    
    
    
    
}

nav > a > i {
    width: 20px;
    color: red;
    
    
    
}

nav.menu2 i{
    font-size: 2em;
    top: -50px;
    
    
    
}

#group {
    display: none;
}

#select{
    color: rgb(91, 164, 243);
}







#storyandpubli {
    
    border-radius: 5px 5px 5px 5px;
    background-color:white;
}

#storys{
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
}

#storymini{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    
}

#story > p {
    width: 100px;
    text-align: center;
}

section#text{
    
    display: block;
    width: 80%;
    margin: auto;
    
    
    
}


/*publicaçao*/

#publi{
    display: block;
    padding: 5px;
    width: 100vw;
    height: 100px;
    
}

#perfil {
    position: relative;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-left: 20px;
}

#textpubli{
    position: relative;
    text-align: center;
    top: -58px;
    left: 95px;
    font-size: 120%;
    background-color: rgb(161, 158, 158);
    width: 60%;
    
    height: 50px;
    border-radius: 20px;
}

#textpubli2{
    position: relative;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    top: 12px;
    padding: 3px;
    
}

#photoadd{
    display: block;
    position: relative;
    left: 90%;
    top: -98px;
    font-size: 2em;
    color: rgb(57, 21, 141);
}






#feed {
    position: relative;
    background-color:white;
    height: 500px; /*remover*/
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    top: 3px;
}




/*----------------------tablet 1--------------------*/


@media screen and (min-Width:500px) and (max-Width:600px) {

    nav.menu2 {
   
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    nav.menu2 > a {
        padding:0px 60px;
        text-align: center;
        
        
        
        
    }
    
    nav > a > i {
        width: 20px;
        color: red;
        
        
        
    }
    
    nav.menu2 i{
        font-size: 2em;
        top: -50px;
        
        
        
    }
    
    #select{
        color: rgb(91, 164, 243);
    }

    /* story aqui*/

    /*fim story*/



    





    
}

@media screen  and (min-Width:500px) and (max-Width:600px) {

    #publi{
        display: block;
        padding: 5px;
        width: 100%;
        
    }
    
    #perfil {
        position: relative;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        margin-left: 20px;
    }
    
    #textpubli{
        position: relative;
        text-align: center;
        top: -58px;
        left: 95px;
        font-size: 120%;
        background-color: rgb(161, 158, 158);
        width: 70%;
        height: 50px;
        border-radius: 20px;
    }
    
    #textpubli2{

        position: relative;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: red;
        top: 10px;
        padding: 3px;
        font-size: 1.5em;
        
    }
    
    #photoadd{
        display: block;
        position: relative;
        left: 90%;
        top: -98px;
        font-size: 2em;
        color: rgb(57, 21, 141);
    }
    
}

/* ---------------------------------fim tablet 1------------------------------*/



/*----------------------tablet 2--------------------*/


@media screen and (min-Width:601px) and (max-Width:700px) {

    nav.menu2 {
   
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    nav.menu2 > a {
        padding:0px 8%;
        text-align: center;
        
        
        
        
    }
    
    nav > a > i {
        width: 20px;
        color: red;
        
        
        
    }
    
    nav.menu2 i{
        font-size: 2em;
        top: -50px;
        
        
        
    }

    #group {
        display: block;
    }
    
    #select{
        color: rgb(91, 164, 243);
    }

    /* story aqui*/

    /*fim story*/



    





    
}

@media screen  and (min-Width:601px) {

    #publi{
        display: block;
        padding: 5px;
        width: 80vw;
        margin: auto;
        
    }
    
    #perfil {
        position: relative;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        margin-left: 2%;
    }
    
    #textpubli{
        position: relative;
        text-align: center;
        top: -58px;
        left: 17.8%;
        font-size: 120%;
        background-color: rgb(161, 158, 158);
        width: 65%;
        height: 50px;
        border-radius: 20px;
    }
    
    #textpubli2{

        position: relative;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: red;
        top: 10px;
        padding: 3px;
        font-size: 1.5em;
        
    }
    
    #photoadd{
        display: block;
        position: relative;
        left: 90%;
        top: -98px;
        font-size: 2em;
        color: rgb(57, 21, 141);
    }
    
}



/* ---------------------------------fim tablet 2------------------------------*/

/*--------------------------------menu grande--------------------------------*/
@media screen and (min-Width:701px)  {

    nav.menu2 {
   
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    nav.menu2 > a {
        padding:0px 8%;
        text-align: center;
        
        
        
        
    }
    
    nav > a > i {
        width: 20px;
        color: red;
        
        
        
    }
    
    nav.menu2 i{
        font-size: 2em;
        top: -50px;
        
        
        
    }

    #group {
        display: block;
    }
    
    #select{
        color: rgb(91, 164, 243);
    }

    #sumirtelagrande {
        display: none;
    }

    #msgtelashow2 {
        display: block;
    }

    /* story aqui*/

    /*fim story*/



    





    
}

/*---------------------------------fim menu grande-------------------------*/





#fechartelamsg {
    color: rgba(255, 0, 0, 0.403);
    font-size: 2em;
    position: relative;
    left: 50%;
    top: -20px;
    transform: translate(-50%);
    cursor: pointer;
}

#fechartelamsg:hover {
    
    color: red;
    border-radius: 50%;
}


#msgtelashow {
    position: fixed;
    margin: 10px;
    cursor: pointer;

    
}

#msgtelashow2 {
    color: rgba(255, 0, 0, 0.39);
    font-size: 3em;
    border-radius: 50%;
    display: none;
}






#msgtela{
    position: fixed;
    
    background-color: white;
    width: 354px;
    border: 2px solid gray;
    border-radius: 10px 0px 0px 10px;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.273);
    top: -5%;
    left: 100%;
    transform: translate(-100%, 5%);
    margin-top: 15vh;
    float: right;
    display: none;
    z-index: 1;
}



#msgtela2 {
    position: relative;
    top: 20px;
    margin-bottom: 20px;

}

iframe {
    width: 350px;
    height: 500px;
    
    overflow-y: hidden;
}

#gearmensagem2 {
    position: relative;
    top: -30px;
    left: 300px;
    
}

#gearmensagem2 > i {
    color: black;
    font-size: 2em;
   
}




/*--------notificação tela---------*/

#fechartelanoti {
    color: rgba(255, 0, 0, 0.403);
    font-size: 2em;
    position: relative;
    left: 50%;
    top: -20px;
    transform: translate(-50%);
    cursor: pointer;
}

#fechartelanoti:hover {
    
    color: red;
    border-radius: 50%;
}

#notitelashow {
    position: fixed;
    margin: 10px;
    cursor: pointer;

    
}

#notitelashow2 {
    color: rgba(255, 0, 0, 0.39);
    font-size: 3em;
    border-radius: 50%;
    display: none;
}

#notitela{
    position: fixed;
    
    background-color: white;
    width: 354px;
    border: 2px solid gray;
    border-radius: 10px 0px 0px 10px;
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.273);
    top: -5%;
    left: 100%;
    transform: translate(-100%, 5%);
    margin-top: 15vh;
    float: right;
    display: none;
    z-index: 1;
}



#notitela2 {
    position: relative;
    top: 20px;
    margin-bottom: 20px;

}

iframe {
    width: 350px;
    height: 500px;
    
    overflow-y: hidden;
}

#gearnoti2 {
    position: relative;
    top: -30px;
    left: 300px;
    
}

#gearnoti2 > i {
    color: black;
    font-size: 2em;
   
}



/*--------------------------------menu grande--------------------------------*/
@media screen and (min-Width:701px) {

    nav.menu2 {
   
        display: flex;
        justify-content: left;
        width: 100%;
    
    }
    
    nav.menu2 > a {
        padding:0px 5%;
        text-align: left;
        
        
        
        
    }
    
    nav > a > i {
        width: 20px;
        color: red;
        
        
        
    }
    
    nav.menu2 i{
        font-size: 2em;
        top: -50px;
        
        
        
    }

    #group {
        display: block;
    }
    
    #select{
        color: rgb(91, 164, 243);
    }

    #sumirtelagrande {
        display: none;
    }
    
    #msgtelashow {
        
        margin-left: 96vw;
        
    }

    #msgtelashow:hover{
        transition-duration: .8s;
        margin-left: 90vw;
    }

    #msgtelashow2 {
        color: white;
        font-size: 2em;
        display: block;
        background-color: rgba(255, 0, 0, 0.537);
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
    }

    #msgtelashow2:hover {
        background-color: red;
        color: white;
    }
    
    
    /*--------notificação tela---------*/

    #notitelashow {
        
        margin-left: 96vw;
        top: 125px;
        
    }

    #notitelashow:hover{
        transition-duration: .8s;
        margin-left: 90vw;
    }

    #notitelashow2 {
        color: white;
        font-size: 2em;
        display: block;
        background-color: rgba(255, 0, 0, 0.537);
        width: 100%;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
    }

    #notitelashow2:hover {
        background-color: red;
        color: white;
    }
    
    
    
   

    /* story aqui*/

    /*fim story*/



    





    
}

/*---------------------------------fim menu grande-------------------------*/